<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include('../bootstrap.ejs') %>
    <title>Document</title>
</head>

<body>
    <h1>Professores</h1>
    <% if(professores.length>0){ %>
    <% for(var professor of professores){ %>
    <div>
        <%= professor.nome %>
    </div>
    <% } %>
    <% } else { %>
    <p>Não existe professores Cadastrados</p>
    <% } %>
    <div class="form-group">
        <form action="" method="POST">

            <label for="">Nome</label>
            <input class="form-control" type="text" name="nome">
            <button type="submit">inserir</button>
        </form>
    </div>

</body>

</html>